name: Tsc
on:
  workflow_call:
    inputs:
      subrepo:
        required: true
        type: string
jobs:
  tsc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: tsc
        uses: EPMatt/reviewdog-action-tsc@63d923a3c5b4497671940b8874f58a404e2351b5 # v1.11.0
        with:
          fail_level: any
          filter_mode: nofilter
          reporter: github-check
          workdir: ${{ inputs.subrepo }}
